
<% if current_user == @psychologist_profile.user %>
  <div class="mb-4">
    <%= link_to t('services.show.add_new_service'), 
                new_psychologist_profile_service_path(@psychologist_profile), 
                class: "button is-primary is-small" %>
  </div>
<% end %>

<% active_services = @services.select { |s| !s.archived? } %>
<% archived_services = @services.select(&:archived?) %>

<%# --- Active services --- %>
<% active_services.each do |service| %>
  <%= render "service", service: service %>
<% end %>

<%# --- Archived services for psychologist only --- %>
<% if current_user == @psychologist_profile.user && archived_services.any? %>
  <div class="mt-5">
    <button class="button is-small is-light" 
            onclick="document.getElementById('archived-services').classList.toggle('is-hidden')">
      <%= t('services.show.archived_toggle') %>
    </button>

    <div id="archived-services" class="is-hidden mt-3">
      <% archived_services.each do |service| %>
        <%= render "service", service: service %>
      <% end %>
    </div>
  </div>
<% end %>
