<p style="color: green"><%= notice %></p>

<%= render @service %>

<%= link_to t('services.show.back'), psychologist_profile_services_path(@service.user.psychologist_profile), class: "button is-link is-light is-small" %>

<div>
</div>
