<% content_for :title, "New internal client profile" %>
<% if @internal_client_profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@internal_client_profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
    <ul>
      <% @internal_client_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1>New internal client profile</h1>

<%= render "form", internal_client_profile: @internal_client_profile %>

<br>

<div>
  <%= link_to "Back to internal client profiles", internal_client_profiles_path %>
</div>
