<p style="color: green"><%= notice %></p>

<% content_for :title do %>
  <h1 >Quizzes</h1>
<% end %>

<h1 style="margin-top: 2rem;">Quizzes</h1>

<div id="quizzes">
  <% @quizzes.each do |quiz| %>
    <%= render quiz %>
    <p>
      <%= link_to "Show this quiz", quiz %>
    </p>
  <% end %>
  
</div>

<%= link_to "New quiz", new_quiz_path %>
