<%# app/views/progress_notes/edit.html.erb %>

<%# This file contains the view for editing an existing progress note. %>
<%# It renders the _form.html.erb partial to display the form fields. %>

<section class="section">
  <div class="container">
    <h1 class="title is-4">Edit Progress Note</h1>

    <%# Form for editing the progress note %>
    <%= form_with(model: [@internal_client_profile, @therapy_plan, @progress_note], local: true) do |f| %>
      <%# Render the form partial, passing the form object `f` %>
      <%= render 'form', f: f,
                 internal_client_profile: @internal_client_profile,
                 therapy_plan: @therapy_plan %>
    <% end %>
  </div>
</section>
