<div class="section">
  <div class="container">
    <h1 class="title is-3">Edit Client Info</h1>

    <%= render "form", client_info: @client_info %>

    <%= link_to "â† Back to Clients", client_infos_path, class: "button is-text mt-4" %>
  </div>
</div>
