<div class="section">
  <div class="container">
    <h1 class="title is-3">Add New Client</h1>

    <%= render "form", client_info: @client_info %>

    <%= link_to "Back to Clients", client_infos_path, class: "button is-light mt-3" %>
  </div>
</div>