<% content_for :title, t('articles.edit.title') %>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to t('articles.show_article'), @article %> |
  <%= link_to t('articles.back_to_articles'), articles_path %>

  <%= button_to t('articles.delete_article'), @article, method: :delete, class: "btn btn-outline-danger btn-sm", form: { data: { turbo_confirm: t('articles.confirm_deletion') } } %>
</div>
