<% content_for :title, "New client profile" %>

<h1>New client profile</h1>

<%= render "form", client_profile: @client_profile %>

<br>

<div>
  <%= link_to "Back to client profiles", client_profiles_path %>
</div>
