

how to page

<ul>
    <li>registration </li>
    <li>profile </li>
    <li>set availability </li>
    <li>connect telegram </li>
    
    <li>see requests from people </li>

    <li>manage bookings and clients</li>
</ul>