<!-- app/views/registrations/new.html.erb -->
<h1 class="title is-3">Register for <%= @event.title %></h1>

<%= form_with model: [@event, @registration], local: true do |f| %>
  <% if current_user.nil? %>
    <%= render "client_infos/form_fields", f: f %>
  <% end %>

  <div class="field mt-3">
    <div class="control">
      <%= f.submit "Register", class: "button is-primary" %>
    </div>
  </div>
<% end %>
