<div id="<%= dom_id client_type %>">
  <p>
    <strong>Name:</strong>
    <%= client_type.name %>
       <%= client_type.id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= client_type.description %>
  </p>

</div>
