<% content_for :title, "Editing client type" %>

<h1>Editing client type</h1>

<%= render "form", client_type: @client_type %>

<br>

<div>
  <%= link_to "Show this client type", @client_type %> |
  <%= link_to "Back to client types", client_types_path %>
</div>
