<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
    🌐 <%= I18n.t("languages.#{I18n.locale}") %>
  </a>

  <div class="navbar-dropdown is-right">
    <%= link_to url_for(locale: :en), class: "navbar-item #{'is-active' if I18n.locale == :en}" do %>
      🇬🇧 English
    <% end %>

    <%= link_to url_for(locale: :ru), class: "navbar-item #{'is-active' if I18n.locale == :ru}" do %>
      🇷🇺 Русский
    <% end %>

    <%= link_to url_for(locale: :kg), class: "navbar-item #{'is-active' if I18n.locale == :kg}" do %>
      🇰🇬 Кыргызча
    <% end %>
  </div>
</div>